.DS_Store
xcuserdata
xcshareddata
CTDateTimePickerLibTest/Build
CTDateTimePickerBindings/bin
CTDateTimePickerBindings/obj
CTDateTimePickerBindings/libCTDateTimePicker-universal.a
CTDateTimePicker/Build
CTDateTimePicker/build
CTDateTimePicker/libCTDateTimePicker-universal.a
*.userprefs
