[submodule "RMDateSelectionViewController"]
	path = RMDateSelectionViewController
	url = https://github.com/CooperRS/RMDateSelectionViewController.git
[submodule "RMActionController"]
	path = RMActionController
	url = https://github.com/CooperRS/RMActionController.git
