.DS_Store
xcuserdata
xcshareddata
CTDateTimePicker/Build
CTDateTimePickerLibTest/Build
CTDateTimePickerBindings/bin
CTDateTimePickerBindings/obj
CTDateTimePicker/libCTDateTimePicker-universal.a
CTDateTimePickerBindings/libCTDateTimePicker-universal.a
*.userprefs
